---
import { name_short } from "@config/bio";
---

<div class="container border-t border-[#E9D4D0] py-8 text-center text-base">
  &copy; Copyright 2023 | Developed in Jaffna by <strong
    class="text-primary underline underline-offset-2"
  >
    <a href="https://me.birn.cc">Birnadin Erick</a></strong
  > | All Rights Reserved to {name_short}
</div>
