<ul class="menu-active-classes">
  <li>
    <a href="/">Home</a>
  </li>

  <li>
    <a href="/courses">Courses</a>
  </li>

  <li>
    <a href="/tuts">Free Tutorials</a>
  </li>

  <li class="menu-item-has-children">
    <a href="#">More</a>
    <ul class="sub-menu">
      <li>
        <a href="/us">About Us</a>
      </li>
      <li>
        <a href="/contact">Contact Us</a>
      </li>
      <li>
        <a href="/place-test">Placement Test</a>
      </li>
      <li>
        <a href="/consult">Consultation</a>
      </li>
    </ul>
  </li>
</ul>
