<div class="block lg:hidden">
  <button
    type="button"
    class="text-3xl md:w-[56px] h-10 w-10 md:h-[56px] rounded bg-white flex flex-col items-center justify-center menu-click"
  >
    <iconify-icon icon="cil:hamburger-menu" rotate="180deg"></iconify-icon>
  </button>
</div>
