<div>
  <button
    type="button"
    class="md:w-[56px] md:h-[56px] h-10 w-10 rounded bg-white flex flex-col items-center justify-center modal-trigger"
  >
    <img
      src="/assets/images/svg/search.svg"
      alt="click here to search"
    /></button
  >
</div>
