<div class="lg:block hidden">
  <div class="border border-gray rounded-md h-[46px] modal-search">
    <input
      type="text"
      class="block w-full rounded-md h-full border-none ring-0 focus:outline-none focus:ring-0"
      placeholder="Search.."
    />
  </div>
</div>
